{% extends 'base.html.twig' %}

{% block body %}
    {% if validation %}
        <form method="post">
            <button type="submit">Update entity</button>
        </form>
    {% endif %}
    <h1>This page was generated on {{ 'now'|date(constant('DATE_RSS')) }}.</h1>
    <div style="height: 30px; background-color: {{ color }}"></div>
{% endblock %}
