{% extends 'base.html.twig' %}

{% block body %}
<h1>Cache Me If You Can Examples</h1>
<ul>
    <li><a href="#">No Cache</a></li>
    <li><a href="#">Expiration Caching</a></li>
    <li><a href="#">Validation Caching</a></li>
    <li><a href="#">ESI</a></li>
</ul>
{% endblock %}
